<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>overriding</title>
</head>
<body>
    <h1>Method Overriding:-</h1>
    <center>
        <h2>To perform method overriding inheritance is must require,We declare 
            methods with same name and same method signature in parent class as
            well as child class,then parent method overriden with child method.
        </h2>
       <a href="{% url 'gn_overloading' %}"><h3>Know about overloading...</h3></a>
       <a href="{% url 'itr:sp_generator' %}"><h3>Know about generator...</h3></a>
       <a href="{% url 'itr:sp_iterator' %}"><h3>Know about iterator...</h3></a>
    </center>
</body>
</html>