<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sp_overloading</title>
</head>
<body>
    <h1>Method Overloading:-</h1>
    <center>
        <h2>In overloading we need to declare multiple methods with same name
            and different method signature,we can't perform method overloading
            in python.
        </h2>
        <a href="{% url 'gn_overriding' %}"><h3>Know about overriding...</h3></a>
        <a href="{% url 'itr:sp_generator' %}"><h3>Know about generator...</h3></a>
        <a href="{% url 'itr:sp_iterator' %}"><h3>Know about iterator...</h3></a>
    </center>
</body>
</html>