<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>generator</title>
</head>
<body>
    <h1>Generator:-</h1>
    <center>
        <h2>Generator is creating using generator expression and generator function.</h2>
        <a href="{% url 'itr:sp_iterator' %}"><h3>Know about iterator...</h3></a>
        <a href="{% url 'gn_overriding' %}"><h3>Know about overriding...</h3></a>
        <a href="{% url 'gn_overloading' %}"><h3>Know about overloading...</h3></a>
    </center>
</body>
</html>