<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iterator</title>
</head>
<body>
    <h1>Iterator:-</h1>
    <center>
        <h2>
            Iterator is an object that is created with the help of iter() with the help of iterable.
        </h2>
        <a href="{% url 'itr:sp_generator' %}"><h3>Know about generator...</h3></a>
        <a href="{% url 'gn_overriding' %}"><h3>Know about overriding...</h3></a>
        <a href="{% url 'gn_overloading' %}"><h3>Know about overloading...</h3></a>
    </center>
</body>
</html>